

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;1,100&display=swap');
.poppins-thin {
  font-family: "Poppins", serif;
  font-weight: 100;
  font-style: normal;
}
*{
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}
* body {
  background-color: white;
  box-sizing: border-box;
  padding: 0%;
  margin: 0%;
  height: 100vh;
}
.home-container {
  background-color:#FFFFFF;
  height: 680px;
  width: 1440px;

}

.poppins-light {
  font-family: "Poppins", serif;
  font-weight: 300;
  font-style: normal;
}

.poppins-regular {
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
}

.poppins-medium {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
}

.poppins-semibold {
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

.poppins-bold {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
}

:root{
    --top-header-bg-color : #F5FFF7;
    --top-header-border-color :#E1F1BA;
}

.top-header {
  background-color:#F5FFF7;
  border: 1px #E1F1BA;
  height: 50px;
  /* position: absolute;
  top:0% */
}

.enquiry-btn {
  background-color: #3AB54A;
  color: #F5FFF7;
  border-radius: 10px;
  font-size: 14px;
  

}

.logo {
  background-color: #3AB54A;
  border-radius: 50px;
}
.download-txt {
  color: #7C7979;
}

.logo-img {
  height: 52px;
  width: 154px;
}
.nav-text {
  font-size: 16px;
  
}
.nav-shift {
  margin-left: -20px;
}

.nav-btn1 {
  font-size: 14px;
  border-radius: 10px;
  background-color: #3AB54A;
  color: #FFFFFF;
}
.nav-btn2 {
  border: 1px solid #3AB54A;
  font-size: 14px;
  border-radius: 10px;
  background-color: #FFFFFF;
  color: #3AB54A;
  
}

.user-logo{
  border:2px solid #ADAFAD;
  border-radius: 80px;
}


.bannerContent p {
  color: #989899;
  font-size: 16px;
}
.bannerContent h1 {
  color: #595555;
  font-size: 48px
}
.bannerContent span {
  color:#3AB54A ;
}
.bannerBtn{
  padding: 10px 16px;
  font-size: 16px;
  margin-left: 0%;
}
.bannerBtn1{ 
  border: 1px solid #3AB54A;
  border-radius: 6px;
  background-color: #FFFFFF;
  color: #3AB54A;
}
.bannerBtn2{
  color: #FFFFFF;
  background: linear-gradient(to top,#9AC23B,#C6AD2E);
  border: 1px;
  border-radius: 6px; 
}
.studentBanner h4{
font-size: 24px;
color: #3AB54A;
}
.studentBanner p{
  color: #616161C9;
  font-size: 14px;
}
.studentBanner1{
  position: relative;
}
.sub-studentBanner1{
  position: absolute;
  top: 10%;
  left: 0%;
  right: 15%;

}
.combineImg-container{
  position: relative;
}
.mergeImg{
  position: absolute;
    z-index: 7;
}
.combineImg-container span{
  background-color: #2F2C2C;
  color: #FFFFFF;
  font-size: 14px;
}
.stuImgSpam{
  background-color:#e2fce7;
  border-radius: 50%;
  margin-left: -10px;
}
.next {
  position: absolute;
  top: 50%;
  /* left: 20%; */
}
.next-text {
  color:#C6AD2E ;
  font-size: 16px;
}


/* course css */

.course-section{
  background-color: #F1F5F9;
  height: 1000px;
  
}
.course-container{
  height: 90%; 
  background-color: white;

}
.course-txt {
  margin-top: 5%;
  text-align: center;
}
.course-txt1 {
  background-color: #FFF1A7B2;
  font-size: 16px;
  padding: 10px 16px;
  margin-top: 50%;

}
.course-heading{
  color: #2F2C2C;
  font-size: 32px;
}
.card {
  background-color: #F1F5F9;
  border: 1px #E2EDFB;
  border-radius: 10px;
  height: 312px;
  width: 540px;
}
.card-txt1{
  font-size: 20px;
  color: #2F2C2C;
  
}
.card-txt2{
  font-size: 16px;
  color: #475569;
  margin-top: 15px;
}
.card-txt3 {
  background-color: #FFF1A7B2;
  font-size: 14px;
  padding: 5px 12px;
  margin-top: 10px ;

}

.card-btn {
  color: #FFFFFF;
  background: linear-gradient(to top,#9AC23B,#C6AD2E);
  border: 1px;
  border-radius: 6px; 
  font-size: 16px;
}

/* About css */

.scroll {
   box-sizing: border-box;
    width:100%;
    height:100%;
    background-size: cover;
    overflow:scroll;
    margin:0px;
    padding: 0px;
}
.about-container{
height: 600px;
    width: 100%;
    background-image:linear-gradient(#2A2727,#373131AF,#655A5A00), url("../Images/vecteezy_business-woman-in-white-shirt-on-grey-background_2618117.jpg") ;
    background-blend-mode: darken;
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    position: relative;
        }
.about-text1{
color: #E0DDDD;
font-size: 20px;
/* margin-top: 10%; */
}
.about-text2 {
color: #E9E1E1;
font-size: 32px;
}
.sub-container {
  background-color: #9AC23B;
  height: 167px;
  width: 650px;
  border-radius: 15px;
  margin-top: 5%;
}
.btn-container{
  position: relative;
}
.aboutBtn {
  border:2px solid #C6AD2E;
  background-color: transparent;
  color: #FFFFFF;
  border-radius: 6px;
  padding: 10px 16px;
  font-size: 16px;
  position: absolute;
  bottom: 15%;
}

.about-logo {
  background-color: white;
  border-radius: 50%;
  margin-top: 3%;
  align-items: center;
}
.logoText {
  font-size: 16px;
  font-weight: 600;
  color: #2F2C2C;
  margin-top: 8%;
}
.blank {
  height: 40px;
  width: 40px;
}
.sub-logo-text {
  font-size: 14px;
  font-weight: 400;
  color: #424446;
}
.bg-img {
  height: 600px;
  width: 1444px;
}

/* material section */

.material-container {
  height: 90%; 
  background-color: #F5FFF7;
}

.material-card {
  background-color: #E2E8F0;
  border: 1px #DAEAFF;
  border-radius: 10px;
  height: 312px;
  width: 600px;

}
.material-card-txt1 {
  background-color: #C6AD2E;
  font-size: 20px;
  color: #F2F2F2;
  padding: 2px 20px;
}

/* testomonial section */
.testomonial-section {
  background-color: #F1F5F9;
  height: 600px;
}
.testomonial-container {
   height: 550px; 
  background-color: white;
}
.teso-img-container{
  position: relative;
}
.teso-img1{
  height: auto;
  width:250px ;
  margin-right: 10px;
  border-radius: 12px;
  margin-bottom: 35%;
  margin-left: 5%;
}
.teso-img2{
 height: auto;
  width:250px ;
  margin-right: 10px;
  border-radius: 12px;
  margin-bottom: 35%;
}

.teso-img3{
  height: 300px;
  width:250px ;
  margin-right: 10px;
  border-radius: 12px;
  margin-bottom: 20%;
}
.testo-next {
 
  position: absolute;
  top: 63%;
  right: 5%;
  /* left: 20%; */
}

/* question section */

.question-section {
  background-color: #F1F5F9;
  height: 1150px;
}
.question-container {
   height: 550px; 
  background-color: white;
}
.question-txt1 {
  background-color: #E6CD50B2;
  color: #2F2C2C;
  border-radius: 15px;
  font-size: 20px;
  padding: 15px 40px;
  margin-top: 50%;
}
.accordion-text {
  color: #0A100A;
  font-size: 29px !important;
}
.accordion-sub-text {
  color: #6A6969;
  font-size: 16px;
}

/* download-section */

.download-container {
  background-color: #DFFEE6;
   height: 440px;
}
.mobile-container {
  position: relative;
}
.mobile1-img {
  position: absolute;
  left: 10%;
  margin-top: 10%;

}
.mobile2-img {
  position: absolute;
  right: 10%;
  margin-top: 11%; 
}
.download-text {
  font-size: 50px;
  margin-top: 10%;
}
.play-btn {
  background-color: #0A100A;
  color: #F6F6F6;
  border: 10px;
  /* padding: 8px 16px; */
  height: 80px;
  width: 280px;
  border-radius: 10px;
}
.play-btn2{
  font-size: 28px;
}
.play-btn1{
  font-size: 16px;
}

/* blog-section */

.blog-section {

 background-color: #F1F5F9;
  height: 750px;
}

/* footer-section */
.footer-section1{
  background-color: #FFFFFF;
  height: 300px;
}
.footer-section2{
  background-color: #F1F5F9;
  height: 100px;
}
.footer-sub-container{
  margin-top: 8%;
 
}
.email{
  position: relative;
  border: 1px solid #475569;
  padding: 9px 16px;
  border-radius: 6px;
}
.email img {
  position: absolute;
  right: 2%;
}
.footer-logo{
  height: 35px;
  width: 35px;
}
.footer-end {
  margin-left: 35%;
  margin-top: 2%;
}




